.#{$rt-namespace}__spinner {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color) var(--toastify-spinner-color)
    transparent;
  animation: #{$rt-namespace}__spin 1s linear infinite;
}
